// FIREBASE VARS
API_KEY=""
AUTH_DOMAIN=""
PROJECT_ID=""
STORAGE_BUCKET=""
MESSAGING_SENDER_ID=""
APP_ID=""

JWT_SECRET=<a long and random secret>

NEXTAUTH_URL="http://localhost:3000"

// get from google API & SERVICES
GOOGLE_ID=""
GOOGLE_SECRET=""

// get from github OAUTH apps
GITHUB_ID=""
GITHUB_SECRET=""
